@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
.loading {
  position: absolute;
  top: 50%;
  left: 45%;
  width: 50px;
  height: 50px;
  border: 5px solid #222;
  border-left-color: #444;
  border-right-color: transparent;
  border-bottom-color: #666;
  border-radius: 100%;
  animation: spin 900ms infinite linear;
  z-index: 1;
}